  <h1> HOME! </h1>

  <h2>REGISTER</h2>
  <form action"/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="name" class="form-control" id="name" placeholder="name" name="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>

  <h2>LOGIN</h2>
  <form action"/login" method="POST">
  <div class="login">
    <label for="examplelogin">login</label>
    <input type="login" class="form-control" id="examplelogin" placeholder="login" name="login">
  </div>
  <div class="password">
    <label for="examplelogin">password</label>
    <input type="login" class="password" id="password" placeholder="password" name="password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>